.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem ;
}
.video-wrapper {
  overflow: hidden;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.75rem;
}
.display-5 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #edefeb ;
}
.bg-success {
  background-color: #9c98cf ;
}
.bg-info {
  background-color: #320707 ;
}
.bg-warning {
  background-color: #163300 ;
}
.bg-danger {
  background-color: #ffea64 ;
}
.btn-primary,
.btn-primary:active {
  background-color: #edefeb ;
  border-color: #edefeb ;
  color: #6e7a61 ;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #ffffff ;
  border-color: #ffffff ;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #6e7a61 ;
  background-color: #ffffff ;
  border-color: #ffffff ;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #9fe870 ;
  border-color: #9fe870 ;
  color: #264d0c ;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #bcef9c ;
  border-color: #bcef9c ;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #264d0c ;
  background-color: #bcef9c ;
  border-color: #bcef9c ;
}
.btn-info,
.btn-info:active {
  background-color: #320707 ;
  border-color: #320707 ;
  color: #ffffff ;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #5f0d0d ;
  border-color: #5f0d0d ;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff ;
  background-color: #5f0d0d ;
  border-color: #5f0d0d ;
}
.btn-success,
.btn-success:active {
  background-color: #9c98cf ;
  border-color: #9c98cf ;
  color: #ffffff ;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #bdbbdf ;
  border-color: #bdbbdf ;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff ;
  background-color: #bdbbdf ;
  border-color: #bdbbdf ;
}
.btn-warning,
.btn-warning:active {
  background-color: #163300 ;
  border-color: #163300 ;
  color: #ffffff ;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #2c6600 ;
  border-color: #2c6600 ;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff ;
  background-color: #2c6600 ;
  border-color: #2c6600 ;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffea64 ;
  border-color: #ffea64 ;
  color: #645600 ;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #fff197 ;
  border-color: #fff197 ;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #645600 ;
  background-color: #fff197 ;
  border-color: #fff197 ;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec ;
  border-color: #eff0ec ;
  color: #757b62 ;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff ;
  border-color: #ffffff ;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 ;
  background-color: #ffffff ;
  border-color: #ffffff ;
}
.btn-black,
.btn-black:active {
  background-color: #232323 ;
  border-color: #232323 ;
  color: #ffffff ;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d ;
  border-color: #3d3d3d ;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff ;
  background-color: #3d3d3d ;
  border-color: #3d3d3d ;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent ;
  border-color: #edefeb;
  color: #edefeb;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #c2c8bb ;
  background-color: transparent ;
  border-color: #c2c8bb ;
  box-shadow: none ;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #6e7a61 ;
  background-color: #edefeb ;
  border-color: #edefeb ;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent ;
  border-color: #9fe870;
  color: #9fe870;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #6ddc25 ;
  background-color: transparent ;
  border-color: #6ddc25 ;
  box-shadow: none ;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #264d0c ;
  background-color: #9fe870 ;
  border-color: #9fe870 ;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent ;
  border-color: #320707;
  color: #320707;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #000000 ;
  background-color: transparent ;
  border-color: #000000 ;
  box-shadow: none ;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff ;
  background-color: #320707 ;
  border-color: #320707 ;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent ;
  border-color: #9c98cf;
  color: #9c98cf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #635db3 ;
  background-color: transparent ;
  border-color: #635db3 ;
  box-shadow: none ;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff ;
  background-color: #9c98cf ;
  border-color: #9c98cf ;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent ;
  border-color: #163300;
  color: #163300;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #000000 ;
  background-color: transparent ;
  border-color: #000000 ;
  box-shadow: none ;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff ;
  background-color: #163300 ;
  border-color: #163300 ;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent ;
  border-color: #ffea64;
  color: #ffea64;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffde0d ;
  background-color: transparent ;
  border-color: #ffde0d ;
  box-shadow: none ;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #645600 ;
  background-color: #ffea64 ;
  border-color: #ffea64 ;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent ;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 ;
  background-color: transparent ;
  border-color: #000000 ;
  box-shadow: none ;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff ;
  background-color: #232323 ;
  border-color: #232323 ;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent ;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf ;
  background-color: transparent ;
  border-color: #cfcfcf ;
  box-shadow: none ;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a ;
  background-color: #fafafa ;
  border-color: #fafafa ;
}
.text-primary {
  color: #edefeb ;
}
.text-secondary {
  color: #9fe870 ;
}
.text-success {
  color: #9c98cf ;
}
.text-info {
  color: #320707 ;
}
.text-warning {
  color: #163300 ;
}
.text-danger {
  color: #ffea64 ;
}
.text-white {
  color: #fafafa ;
}
.text-black {
  color: #232323 ;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #bac2b2 ;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #66d022 ;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #5952af ;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #000000 ;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #000000 ;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #fddb00 ;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 ;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 ;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #edefeb;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #320707;
}
.alert-warning {
  background-color: #163300;
}
.alert-danger {
  background-color: #ffea64;
}
.mbr-gallery-filter li.active .btn {
  background-color: #edefeb;
  border-color: #edefeb;
  color: #7a886d;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #edefeb;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f3abab;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #7cff1a;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #edefeb ;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #edefeb;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #edefeb;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #edefeb;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #edefeb;
  border-bottom-color: #edefeb;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 ;
  background-color: #edefeb ;
  box-shadow: none ;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 ;
  background: #9fe870 ;
  box-shadow: none ;
}
.lazy-bg {
  background-image: none ;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23edefeb' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-udN5AkLFBr {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-udN5AkLFBr .dropdown-item:before {
  font-family: Moririse2 ;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-udN5AkLFBr .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-udN5AkLFBr .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-udN5AkLFBr .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
.cid-udN5AkLFBr .navbar-brand .navbar-caption {
  line-height: inherit ;
}
.cid-udN5AkLFBr .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-udN5AkLFBr .navbar-nav {
  margin: auto;
  margin-left: 0;
}
.cid-udN5AkLFBr .navbar-nav .nav-item {
  padding: 0 ;
  transition: 0.3s all ;
}
.cid-udN5AkLFBr .navbar-nav .nav-item .nav-link {
  padding: 16px ;
  margin: 0 ;
  border-radius: 1rem ;
  transition: 0.3s all ;
  border-radius: 4px ;
}
.cid-udN5AkLFBr .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-udN5AkLFBr .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-udN5AkLFBr .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-udN5AkLFBr .navbar-nav .dropdown-item {
  padding: 12px ;
  border-radius: 0.5rem ;
  margin: 0 8px ;
  transition: 0.3s all ;
  border-radius: 4px ;
}
.cid-udN5AkLFBr .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-udN5AkLFBr .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-udN5AkLFBr .nav-link {
  width: fit-content;
  position: relative;
}
.cid-udN5AkLFBr .navbar-logo {
  margin: 0 ;
}
@media (max-width: 767px) {
  .cid-udN5AkLFBr .navbar-logo {
    padding-left: 0;
  }
}
.cid-udN5AkLFBr .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-udN5AkLFBr .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-udN5AkLFBr .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: 0.3s all;
}
.cid-udN5AkLFBr .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem 0.5rem 1rem;
  flex-wrap: nowrap;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
  border-radius: 4px ;
}
@media (max-width: 992px) {
  .cid-udN5AkLFBr .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-udN5AkLFBr .container {
    width: 95%;
    height: 56px ;
    padding: 0.5rem;
    margin-top: 0rem;
  }
}
.cid-udN5AkLFBr .iconfont-wrapper {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-udN5AkLFBr .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px ;
  border-radius: 1.5rem;
  transition: 0.3s all ;
  min-width: auto;
  background: #ffffff;
  border-radius: 4px ;
}
.cid-udN5AkLFBr .nav-item:focus,
.cid-udN5AkLFBr .nav-link:focus {
  outline: none;
}
.cid-udN5AkLFBr .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-udN5AkLFBr .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-udN5AkLFBr .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-udN5AkLFBr .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-udN5AkLFBr .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-udN5AkLFBr .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em ;
  transition: none;
  margin: 0 ;
}
.cid-udN5AkLFBr .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent ;
  padding: 0 ;
  border: none ;
  box-shadow: none ;
  border-radius: 0 ;
}
.cid-udN5AkLFBr .navbar.opened {
  transition: all 0.3s;
}
.cid-udN5AkLFBr .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-udN5AkLFBr .navbar .navbar-logo img {
  width: auto;
  border-radius: 4px ;
}
.cid-udN5AkLFBr .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-udN5AkLFBr .navbar.collapsed {
  justify-content: center;
}
.cid-udN5AkLFBr .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-udN5AkLFBr .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-udN5AkLFBr .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 5rem);
  }
}
.cid-udN5AkLFBr .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 ;
}
.cid-udN5AkLFBr .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-udN5AkLFBr .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-udN5AkLFBr .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-udN5AkLFBr .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-udN5AkLFBr .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-udN5AkLFBr .navbar {
    min-height: 72px;
  }
  .cid-udN5AkLFBr .navbar .navbar-logo img {
    height: 2.5rem ;
  }
}
@media (max-width: 991px) {
  .cid-udN5AkLFBr .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-udN5AkLFBr .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-udN5AkLFBr .navbar .dropdown-menu .dropdown-submenu {
    left: 0 ;
  }
  .cid-udN5AkLFBr .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-udN5AkLFBr .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-udN5AkLFBr .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem ;
    text-align: center;
  }
  .cid-udN5AkLFBr .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-udN5AkLFBr .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-udN5AkLFBr .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-udN5AkLFBr .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-udN5AkLFBr .dropdown-item.active,
.cid-udN5AkLFBr .dropdown-item:active {
  background-color: transparent;
}
.cid-udN5AkLFBr .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-udN5AkLFBr .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-udN5AkLFBr .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-udN5AkLFBr .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-udN5AkLFBr .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-udN5AkLFBr .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-udN5AkLFBr ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-udN5AkLFBr .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-udN5AkLFBr .navbar-buttons {
    text-align: left;
  }
}
.cid-udN5AkLFBr button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-udN5AkLFBr button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-udN5AkLFBr button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-udN5AkLFBr button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-udN5AkLFBr button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-udN5AkLFBr button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-udN5AkLFBr nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-udN5AkLFBr nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-udN5AkLFBr nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-udN5AkLFBr nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-udN5AkLFBr .navbar-dropdown {
  padding: 0 1rem;
}
.cid-udN5AkLFBr a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-udN5AkLFBr .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-udN5AkLFBr .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-udN5AkLFBr .navbar {
    height: 70px;
  }
  .cid-udN5AkLFBr .navbar.opened {
    height: auto;
  }
  .cid-udN5AkLFBr .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px ;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 ;
}
.cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content ;
  min-height: max-content ;
}
.cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: 0.3s all;
  transform: rotate(-90deg);
}
.cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-udN5AkLFBr .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-udN5AkLFBr .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-udN5AkLFBr .navbar-brand {
    margin-right: auto;
  }
  .cid-udN5AkLFBr .navbar-collapse {
    z-index: -1 ;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    backdrop-filter: blur(8px);
    border-radius: 4px ;
  }
  .cid-udN5AkLFBr .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-udN5AkLFBr .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu {
    max-width: 100% ;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px ;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) ;
  }
  .cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px ;
    line-height: 1 ;
    margin-bottom: 4px ;
  }
  .cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content ;
    min-height: max-content ;
  }
  .cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(0deg);
  }
  .cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% ;
    transform: translateX(0) ;
    top: 0;
    left: 0;
    padding: 8px ;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) ;
  }
  .cid-udN5AkLFBr .navbar .dropdown.open > .dropdown-menu {
    display: flex ;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-udN5AkLFBr .navbar-collapse {
    padding: 1rem;
  }
}
.cid-udN5Cp8bfe {
  display: flex;
  background-image: url("../../../assets/images/header2.jpg");
}
.cid-udN5Cp8bfe .mbr-overlay {
  background-color: #000000;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .cid-udN5Cp8bfe {
    align-items: flex-end;
  }
  .cid-udN5Cp8bfe .row {
    justify-content: center;
  }
  .cid-udN5Cp8bfe .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-udN5Cp8bfe .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-udN5Cp8bfe {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-udN5Cp8bfe .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-udN5Cp8bfe .content-wrap {
    width: 100%;
  }
}
.cid-udN5Cp8bfe .mbr-section-title,
.cid-udN5Cp8bfe .mbr-section-subtitle {
  text-align: center;
}
.cid-udN5Cp8bfe .mbr-text,
.cid-udN5Cp8bfe .mbr-section-btn {
  text-align: center;
}
.cid-udN5Cp8bfe .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-udN9Llre3U {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #edefeb;
}
.cid-udN9Llre3U img,
.cid-udN9Llre3U .item-img {
  width: 100%;
  height: 100%;
  height: 500px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-udN9Llre3U img,
  .cid-udN9Llre3U .item-img {
    max-height: 300px;
  }
}
.cid-udN9Llre3U .item:focus,
.cid-udN9Llre3U span:focus {
  outline: none;
}
.cid-udN9Llre3U .item-wrapper {
  position: relative;
}
.cid-udN9Llre3U .slide-content {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
.cid-udN9Llre3U .slide-content .item-content {
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-udN9Llre3U .slide-content .item-content {
    padding: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-udN9Llre3U .slide-content .item-content {
    padding: 1.5rem;
  }
}
.cid-udN9Llre3U .mbr-section-btn {
  margin-top: auto ;
}
.cid-udN9Llre3U .mbr-section-title {
  color: #232323;
}
.cid-udN9Llre3U .mbr-text,
.cid-udN9Llre3U .mbr-section-btn {
  text-align: left;
}
.cid-udN9Llre3U .item-title {
  text-align: left;
}
.cid-udN9Llre3U .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-udN9Llre3U .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 370px;
  max-width: 370px;
}
@media (max-width: 768px) {
  .cid-udN9Llre3U .embla__slide {
    min-width: 85%;
    max-width: initial;
  }
}
.cid-udN9Llre3U .embla__button--next,
.cid-udN9Llre3U .embla__button--prev {
  display: flex;
}
.cid-udN9Llre3U .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-udN9Llre3U .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-udN9Llre3U .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-udN9Llre3U .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-udN9Llre3U .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-udN9Llre3U .embla__button {
    top: auto;
  }
}
.cid-udN9Llre3U .embla {
  position: relative;
  width: 100%;
}
.cid-udN9Llre3U .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-udN9Llre3U .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-udN9Llre3U .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-udN9Llre3U .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 768px) {
  .cid-udN9Llre3U .embla__container .embla__slide:first-child {
    margin-left: 2rem ;
  }
  .cid-udN9Llre3U .embla__container .embla__slide:last-child {
    margin-right: 2rem ;
  }
}
.cid-udN9Llre3U .content-head {
  max-width: 800px;
}
.cid-udNi4DttUn {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-udNi4DttUn .mbr-fallback-image.disabled {
  display: none;
}
.cid-udNi4DttUn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-udNi4DttUn .title .num {
  width: 100%;
  display: block;
}
.cid-udNi4DttUn .title .card-title {
  z-index: 1;
}
.cid-udNi4DttUn .count {
  color: #9fe870;
  font-weight: 700;
  text-align: left;
}
.cid-udNi4DttUn .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-udNi4DttUn .item-mb {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-udNi4DttUn * {
    text-align: center ;
  }
  .cid-udNi4DttUn .content-column {
    margin-bottom: 2rem;
  }
}
.cid-udNi4DttUn .content-head {
  max-width: 800px;
}
.cid-udNi4DttUn H3 {
  color: #a6a99c;
  text-align: left;
}
.cid-udNi4DttUn .card-text {
  text-align: left;
}
.cid-udNi4DttUn .card-title,
.cid-udNi4DttUn .card-img {
  text-align: left;
}
.cid-udNnFdU21c {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edefeb;
}
.cid-udNnFdU21c .mbr-fallback-image.disabled {
  display: none;
}
.cid-udNnFdU21c .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-udNnFdU21c .item-wrapper {
  overflow: hidden;
  background: #ffffff;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-udNnFdU21c .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-udNnFdU21c .text-wrapper {
  padding: 4rem 3rem 4rem 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-udNnFdU21c .text-wrapper {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-udNnFdU21c .text-wrapper {
    padding: 1.5rem;
  }
}
.cid-udNnFdU21c .row {
  flex-direction: row-reverse;
}
.cid-udNnFdU21c .text-wrapper {
  padding: 4rem 2rem 4rem 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-udNnFdU21c .text-wrapper {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-udNnFdU21c .text-wrapper {
    padding: 1.5rem;
  }
}
.cid-udNnFdU21c .row {
  align-items: center;
  margin-right: -1rem;
  margin-left: -1rem;
}
.cid-udNnFdU21c .image-wrapper {
  padding: 0 1rem;
}
.cid-udNnFdU21c img,
.cid-udNnFdU21c .image-wrapper {
  height: 400px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-udNnFdU21c img,
  .cid-udNnFdU21c .image-wrapper {
    max-height: 350px;
  }
}
.cid-udNnFdU21c .mbr-section-title {
  color: #000000;
  text-align: left;
}
.cid-udNnFdU21c .mbr-text {
  color: #000000;
}
.cid-udNnFdU21c .mbr-text,
.cid-udNnFdU21c .mbr-section-btn {
  text-align: left;
}
.cid-udNnFdU21c .price {
  color: #232323;
  text-align: left;
}
.cid-udNnFdU21c .content-head {
  max-width: 800px;
}
.cid-udNnFdU21c .mbr-section-maintitle {
  text-align: center;
}
.cid-udNnFdU21c .mbr-section-mainsubtitle {
  text-align: center;
}
.cid-udNhiFBH3c {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #edefeb;
}
.cid-udNhiFBH3c .mbr-fallback-image.disabled {
  display: none;
}
.cid-udNhiFBH3c .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-udNhiFBH3c .row .map-wrapper {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-udNhiFBH3c .row .map-wrapper {
    margin-top: 1rem;
  }
}
.cid-udNhiFBH3c .google-map {
  height: 100%;
  position: relative;
}
.cid-udNhiFBH3c .google-map iframe {
  height: 100%;
  width: 100%;
}
@media (max-width: 992px) {
  .cid-udNhiFBH3c .google-map iframe {
    min-height: 350px;
  }
}
.cid-udNhiFBH3c .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-udNhiFBH3c .google-map[data-state] {
  background: #e9e5dc;
}
.cid-udNhiFBH3c .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-udNhiFBH3c .card-wrapper {
  padding: 2.25rem;
  background: #ffffff;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-udNhiFBH3c .card-wrapper {
    padding: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-udNhiFBH3c .card-wrapper {
    padding: 2rem 1.5rem;
  }
}
.cid-udNhiFBH3c ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cid-udNhiFBH3c .content-head {
  max-width: 800px;
}
.cid-udNxCZMz85 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #0c2c68;
}
.cid-udNxCZMz85 .mbr-fallback-image.disabled {
  display: none;
}
.cid-udNxCZMz85 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-udNxCZMz85 .copyright {
  color: #ffffff;
  text-align: left;
}
.cid-udNxCZMz85 .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-udNxCZMz85 .row {
    flex-direction: column-reverse ;
  }
  .cid-udNxCZMz85 .row .copyright {
    margin: 1rem 0 0 0;
  }
}
.cid-udNxCZMz85 .row-links {
  width: 100%;
  justify-content: center;
}
.cid-udNxCZMz85 .row-links .row-links-soc {
  list-style: none;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .cid-udNxCZMz85 .row-links .row-links-soc {
    justify-content: center;
  }
}
.cid-udNxCZMz85 .row-links .row-links-soc li {
  padding: 0 1rem 0rem 1rem;
}
@media (max-width: 767px) {
  .cid-udNxCZMz85 .row-links .row-links-soc li {
    padding: 0 1rem 1rem 1rem;
  }
}
.cid-udNxCZMz85 .row-links .row-links-soc li p {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-udNxCZMz85 .copyright {
    text-align: center;
  }
}
.cid-udN5AkLFBr {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-udN5AkLFBr .dropdown-item:before {
  font-family: Moririse2 ;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-udN5AkLFBr .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-udN5AkLFBr .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-udN5AkLFBr .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
.cid-udN5AkLFBr .navbar-brand .navbar-caption {
  line-height: inherit ;
}
.cid-udN5AkLFBr .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-udN5AkLFBr .navbar-nav {
  margin: auto;
  margin-left: 0;
}
.cid-udN5AkLFBr .navbar-nav .nav-item {
  padding: 0 ;
  transition: 0.3s all ;
}
.cid-udN5AkLFBr .navbar-nav .nav-item .nav-link {
  padding: 16px ;
  margin: 0 ;
  border-radius: 1rem ;
  transition: 0.3s all ;
  border-radius: 4px ;
}
.cid-udN5AkLFBr .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-udN5AkLFBr .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-udN5AkLFBr .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-udN5AkLFBr .navbar-nav .dropdown-item {
  padding: 12px ;
  border-radius: 0.5rem ;
  margin: 0 8px ;
  transition: 0.3s all ;
  border-radius: 4px ;
}
.cid-udN5AkLFBr .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-udN5AkLFBr .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-udN5AkLFBr .nav-link {
  width: fit-content;
  position: relative;
}
.cid-udN5AkLFBr .navbar-logo {
  margin: 0 ;
}
@media (max-width: 767px) {
  .cid-udN5AkLFBr .navbar-logo {
    padding-left: 0;
  }
}
.cid-udN5AkLFBr .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-udN5AkLFBr .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-udN5AkLFBr .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: 0.3s all;
}
.cid-udN5AkLFBr .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem 0.5rem 1rem;
  flex-wrap: nowrap;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
  border-radius: 4px ;
}
@media (max-width: 992px) {
  .cid-udN5AkLFBr .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-udN5AkLFBr .container {
    width: 95%;
    height: 56px ;
    padding: 0.5rem;
    margin-top: 0rem;
  }
}
.cid-udN5AkLFBr .iconfont-wrapper {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-udN5AkLFBr .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px ;
  border-radius: 1.5rem;
  transition: 0.3s all ;
  min-width: auto;
  background: #ffffff;
  border-radius: 4px ;
}
.cid-udN5AkLFBr .nav-item:focus,
.cid-udN5AkLFBr .nav-link:focus {
  outline: none;
}
.cid-udN5AkLFBr .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-udN5AkLFBr .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-udN5AkLFBr .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-udN5AkLFBr .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-udN5AkLFBr .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-udN5AkLFBr .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em ;
  transition: none;
  margin: 0 ;
}
.cid-udN5AkLFBr .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent ;
  padding: 0 ;
  border: none ;
  box-shadow: none ;
  border-radius: 0 ;
}
.cid-udN5AkLFBr .navbar.opened {
  transition: all 0.3s;
}
.cid-udN5AkLFBr .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-udN5AkLFBr .navbar .navbar-logo img {
  width: auto;
  border-radius: 4px ;
}
.cid-udN5AkLFBr .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-udN5AkLFBr .navbar.collapsed {
  justify-content: center;
}
.cid-udN5AkLFBr .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-udN5AkLFBr .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-udN5AkLFBr .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 5rem);
  }
}
.cid-udN5AkLFBr .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 ;
}
.cid-udN5AkLFBr .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-udN5AkLFBr .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-udN5AkLFBr .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-udN5AkLFBr .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-udN5AkLFBr .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-udN5AkLFBr .navbar {
    min-height: 72px;
  }
  .cid-udN5AkLFBr .navbar .navbar-logo img {
    height: 2.5rem ;
  }
}
@media (max-width: 991px) {
  .cid-udN5AkLFBr .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-udN5AkLFBr .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-udN5AkLFBr .navbar .dropdown-menu .dropdown-submenu {
    left: 0 ;
  }
  .cid-udN5AkLFBr .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-udN5AkLFBr .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-udN5AkLFBr .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem ;
    text-align: center;
  }
  .cid-udN5AkLFBr .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-udN5AkLFBr .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-udN5AkLFBr .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-udN5AkLFBr .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-udN5AkLFBr .dropdown-item.active,
.cid-udN5AkLFBr .dropdown-item:active {
  background-color: transparent;
}
.cid-udN5AkLFBr .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-udN5AkLFBr .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-udN5AkLFBr .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-udN5AkLFBr .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-udN5AkLFBr .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-udN5AkLFBr .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-udN5AkLFBr ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-udN5AkLFBr .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-udN5AkLFBr .navbar-buttons {
    text-align: left;
  }
}
.cid-udN5AkLFBr button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-udN5AkLFBr button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-udN5AkLFBr button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-udN5AkLFBr button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-udN5AkLFBr button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-udN5AkLFBr button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-udN5AkLFBr nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-udN5AkLFBr nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-udN5AkLFBr nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-udN5AkLFBr nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-udN5AkLFBr .navbar-dropdown {
  padding: 0 1rem;
}
.cid-udN5AkLFBr a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-udN5AkLFBr .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-udN5AkLFBr .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-udN5AkLFBr .navbar {
    height: 70px;
  }
  .cid-udN5AkLFBr .navbar.opened {
    height: auto;
  }
  .cid-udN5AkLFBr .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px ;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 ;
}
.cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content ;
  min-height: max-content ;
}
.cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: 0.3s all;
  transform: rotate(-90deg);
}
.cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-udN5AkLFBr .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-udN5AkLFBr .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-udN5AkLFBr .navbar-brand {
    margin-right: auto;
  }
  .cid-udN5AkLFBr .navbar-collapse {
    z-index: -1 ;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    backdrop-filter: blur(8px);
    border-radius: 4px ;
  }
  .cid-udN5AkLFBr .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-udN5AkLFBr .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu {
    max-width: 100% ;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px ;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) ;
  }
  .cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px ;
    line-height: 1 ;
    margin-bottom: 4px ;
  }
  .cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content ;
    min-height: max-content ;
  }
  .cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(0deg);
  }
  .cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-udN5AkLFBr .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% ;
    transform: translateX(0) ;
    top: 0;
    left: 0;
    padding: 8px ;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) ;
  }
  .cid-udN5AkLFBr .navbar .dropdown.open > .dropdown-menu {
    display: flex ;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-udN5AkLFBr .navbar-collapse {
    padding: 1rem;
  }
}
.cid-udNomex9lo {
  padding-top: 10rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-udNomex9lo .mbr-text {
  color: #000000;
  text-align: left;
}
.cid-udNomex9lo .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-udNomex9lo .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-udNomex9lo .content-head {
  max-width: 800px;
}
.cid-udNomex9lo .mbr-card-subtitle {
  color: #000000;
  text-align: left;
}
.cid-udNomex9lo .mbr-card-title {
  text-align: left;
  color: #000000;
}
.cid-udNoB2WJCt {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-udNoB2WJCt .mbr-fallback-image.disabled {
  display: none;
}
.cid-udNoB2WJCt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-udNoB2WJCt .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-udNoB2WJCt .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-udNoB2WJCt .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-udNoB2WJCt .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-udNoB2WJCt .mbr-section-title {
  color: #000000;
}
.cid-udNoB2WJCt .mbr-text,
.cid-udNoB2WJCt .mbr-section-btn {
  color: #000000;
}
.cid-udNoBpA3O3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-udNoBpA3O3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-udNoBpA3O3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-udNoBpA3O3 .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-udNoBpA3O3 .row {
  flex-direction: row-reverse;
}
.cid-udNoBpA3O3 .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-udNoBpA3O3 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-udNoBpA3O3 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-udNoBpA3O3 .mbr-section-title {
  color: #000000;
}
.cid-udNoBpA3O3 .mbr-text,
.cid-udNoBpA3O3 .mbr-section-btn {
  color: #000000;
}
.cid-udNqVChQkV {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-udNqVChQkV .mbr-fallback-image.disabled {
  display: none;
}
.cid-udNqVChQkV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-udNqVChQkV .card-content-text {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
}
@media (min-width: 768px) {
  .cid-udNqVChQkV .card-content-text {
    padding: 0 2.25rem 2.25rem 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-udNqVChQkV .card-content-text {
    padding: 1rem 4rem 4rem 4rem;
  }
}
.cid-udNqVChQkV .card-wrapper {
  background: #ffffff;
}
.cid-udNqVChQkV .mbr-text,
.cid-udNqVChQkV .mbr-section-btn {
  color: #000000;
  text-align: left;
}
.cid-udNqVChQkV .card-title,
.cid-udNqVChQkV .card-box {
  text-align: left;
  color: #000000;
}
.cid-udNxCZMz85 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #0c2c68;
}
.cid-udNxCZMz85 .mbr-fallback-image.disabled {
  display: none;
}
.cid-udNxCZMz85 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-udNxCZMz85 .copyright {
  color: #ffffff;
  text-align: left;
}
.cid-udNxCZMz85 .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-udNxCZMz85 .row {
    flex-direction: column-reverse ;
  }
  .cid-udNxCZMz85 .row .copyright {
    margin: 1rem 0 0 0;
  }
}
.cid-udNxCZMz85 .row-links {
  width: 100%;
  justify-content: center;
}
.cid-udNxCZMz85 .row-links .row-links-soc {
  list-style: none;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .cid-udNxCZMz85 .row-links .row-links-soc {
    justify-content: center;
  }
}
.cid-udNxCZMz85 .row-links .row-links-soc li {
  padding: 0 1rem 0rem 1rem;
}
@media (max-width: 767px) {
  .cid-udNxCZMz85 .row-links .row-links-soc li {
    padding: 0 1rem 1rem 1rem;
  }
}
.cid-udNxCZMz85 .row-links .row-links-soc li p {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-udNxCZMz85 .copyright {
    text-align: center;
  }
}
